<title>KB저축은행 계좌조회</title>
<div class="titleArea">
  <div class="w1200">
    <ul class="pageUtil">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
    <h2 class="f_bold">계좌조회</h2>
  </div>
</div>
<script src="js/accountInquiry.js"></script>