<header>
  <div class="topArea">
    <div class="topWrap w1200">
        <div class="topArea_right">
            <ul>
                <li><a href="">고객센터</a></li>
                <li><a href="">인증센터</a></li>
                <li><a href="">ENG</a></li>
            </ul>
            <div class="utilSearch">
                <input type="text" id="SRbox" title="검색어 입력" autocomplete="off">
                <button class="searchBtn"><span>검색</span>
                </button>
            </div>
        </div>
    </div>
  </div>
  <div class="gnbArea">
    <nav class="gnb w1200" id="gnb">
        <h1 class="kbLogo"></h1>
        <div class="menu">
            <ul>
                <li><a href="">예금상품</a></li>
                <li><a href="">대출상품</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">상품공시실</a></li>
                <li><a href="">인터넷뱅킬</a></li>
                <li><a href="">kiwibank</a></li>
            </ul>
        </div>
        <div class="nav_right">
            <ul>
                <li class="gnbBtn_Login"><a href=""></a></li>
                <li class="gnbBtn_Sitemap"><a href=""></a></li>
            </ul>
        </div>
    </nav>
  </div>
</header>