<title>KB 저축은행 회원가입</title>
<div class="join1_wrap">
  <div class="join1_inner w1200">
    <h2 class="main_title">회원가입</h2>
    <div class="join1_innerCon">
      <form id="join1_form" action="/join2">
        <div class="join_title">
          <h3 class="f_medium">개인정보 수집 및 이용에 대한 안내 동의</h3>
          <input id="allCheck" class="allChecked" type="checkbox">
          <label class="f_medium" for="allCheck">KB저축은행 이용약관, 개인정보 수집·이용, 광고성 정보 수신(선택)에 모두 동의합니다.</label>
        </div>
        <div class="survice_con">
          <input id="surviceCheck" class="essentialCheck" type="checkbox">
          <label class="f_medium" for="surviceCheck">이용약관동의 <span>(필수)</span></label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
        <div class="privacy_con">
          <input id="privacyCheck" class="essentialCheck" type="checkbox">
          <label class="f_medium" for="privacyCheck">개인정보 수집 · 이용 동의 <span>(필수)</span></label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
        <div class="marketing_con">
          <input id="marketCheck" type="checkbox">
          <label class="f_medium" for="marketCheck">광고성 정보 수신 <span>(선택)</span></label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
        <div class="join1_bot">
          <h4 class="f_medium">본인인증</h4>
          <ul class="certi_box">
            <li><a class="f_gray2" onclick="javascript:alert('준비중입니다.')">휴대폰인증</a></li>
            <li><a class="f_gray2" onclick="javascript:alert('준비중입니다.')">아이핀인증</a></li>
          </ul>
          <h4 class="f_medium mgtop_50">휴대폰 인증 유의사항</h4>
          <p class="f_gray2">개인정보를 보호하기 위하여 주민등록번호를 이용하지않고 가입하신 휴대폰 번호를 통하여 본인임을 확인 받을 수 있는 서비스입니다.</p>
          <h4 class="f_medium mgtop_115">아이핀 인증 유의사항</h4>
          <p class="f_gray2">금융상품 가입자의 경우 아이핀을 통한 홈페이지 가입 시 상품 정보 조회는 익일부터 가능합니다.</p>
        </div>
        <div class="join1Btn_wrap mgtop_50">
          <input class="join1_btn" type="submit" value="확인">
        </div>
      </form>
    </div>
  </div>
</div>
<script src="js/join1Page.js"></script>