<title>KB 저축은행 회원가입</title>
<div class="join1_wrap">
  <div class="join1_inner w1200">
    <h2 class="main_title">회원가입</h2>
    <div class="join1_innerCon">
      <form id="join1_form" action="/join2">
        <div class="join_title">
          <h3 class="f_medium">개인정보 수집 및 이용에 대한 안내 동의</h3>
          <input id="allCheck" class="allChecked" type="checkbox">
          <label class="f_medium" for="allCheck">KB저축은행 이용약관, 개인정보 수집·이용, 광고성 정보 수신(선택)에 모두 동의합니다.</label>
        </div>
        <div class="survice_con">
          <input id="surviceCheck" class="essentialCheck" type="checkbox">
          <label class="f_medium" for="surviceCheck">이용약관동의 <span>(필수)</span></label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
        <div class="privacy_con">
          <input id="privacyCheck" class="essentialCheck" type="checkbox">
          <label class="f_medium" for="privacyCheck">개인정보 수집 · 이용 동의 <span>(필수)</span></label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
        <div class="marketing_con">
          <input id="marketCheck" type="checkbox">
          <label class="f_medium" for="marketCheck">광고성 정보 수신 <span>(선택)</span></label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="js/join1Page.js"></script>