<title>KB 저축은행 회원가입</title>
<div class="join1_wrap">
  <div class="join1_inner w1200">
    <h2 class="main_title">회원가입</h2>
    <div class="join1_innerCon">
      <form id="join1_form" action="/join2">
        <div class="join_title">
          <h3>개인정보 수집 및 이용에 대한 안내 동의</h3>
          <input type="checkbox" id="allCheck" class="allChecked">
          <label for="allCheck">KB저축은행 이용약관, 개인정보 수집·이용, 광고성 정보 수신(선택)에 모두 동의합니다.</label>
        </div>
        <div class="survice_con">
          <input type="checkbox" id="surviceCheck" class="essentialCheck">
          <label for="surviceCheck">이용약관동의 (필수)</label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
        <div class="privacy_con">
          <input type="checkbox" id="privacyCheck" class="essentialCheck">
          <label for="privacyCheck">개인정보 수집 · 이용 동의 (필수)</label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
        <div class="marketing_con">
          <input type="checkbox" id="marketCheck">
          <label for="marketCheck">광고성 정보 수신 (선택)</label>
          <textarea readonly name="" id="" cols="30" rows="10">

          </textarea>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="js/join1Page.js"></script>