<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <section class="swiper-slide mainSlide">
      asdf
    </section>
    <section class="swiper-slide solution">
      asdf
    </section>
    <section class="swiper-slide kbinfo">
      asdf
    </section>
    <section class="swiper-slide mainNotice">
      sadfdsf
    </section>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="hagyungtest"></div>