<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <!-- 첫번째 섹션(정지헌) -->
    <section class="swiper-slide swiper mySwiper1 mainSlide">
      <div class="swiper-wrapper mainSlide_wrap">
        <!-- 첫번째슬라이드 -->
        <div class="swiper-slide mainSlide_inner" id="mainSlide_inner1">
          <div class="mainSlide_conWrap w1200">
            <div class="swiper-pagination1 f_bold"></div>
            <div class="mainSlide_title mainSlide_title1">
              <h2 class="f_bold">언제나 고객과 함께합니다.</h2>
              <h3 class="f_bold"><span>KB</span> 저축은행에서 다양한 상품을 만나보세요</h3>
              <p>다양한 예적금 상품은 KB저축은행에서!</p>
            </div>
            <div class="mainSlide_directMenu">
              <nav class="topBtn">
                <ul class="Btn_inner">
                  <li><a href="" class="loginBtn f_bold">로그인</a></li>
                  <li><a href="" class="f_bold">FAQ</a></li>
                </ul>
              </nav>
              <nav class="bottomBtn"></nav>
            </div>
          </div>
          <div class="mainSlide_newsWrap">
            <div class="mainSlide_news_con w1200">
              <h3>저축은행 소식 ></h3>
              <div class="mainSlide_news" id="news1">
                <a href="">
                  <h3>KB저축은행, 클라우드 기반 차세대시스템 성공적으로 구축완료</h3>
                  <h3>2022.11.16</h3>
                </a>
              </div>
              <div class="mainSlide_news" id="news2">
                <a href="">
                  <h3>KB저축은행, 업계 최고 수준의 연 5% ‘KB꿀적금’ 특판실시</h3>
                  <h3>2022.06.02</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- 두번째슬라이드 -->
        <div class="swiper-slide mainSlide_inner" id="mainSlide_inner2">
          <div class="mainSlide_conWrap w1200">
            <div class="mainSlide_title mainSlide_title2">
              <h2><span>kiwi</span>신용대출</h2>
              <h3>다양한 온라인 대출 상품을 편리하게!</h3>
              <p>신용도 영향 없이 내게 맞는 최적 상품을 한번에 조회!</p>
            </div>
            <div class="swiper-pagination1"></div>
          </div>
          <div class="mainSlide_newsWrap">
            <div class="mainSlide_news_con w1200">
              <h3>저축은행 소식 ></h3>
              <div class="mainSlide_news" id="news1">
                <a href="">
                  <h3>KB저축은행, 클라우드 기반 차세대시스템 성공적으로 구축완료</h3>
                  <h3>2022.11.16</h3>
                </a>
              </div>
              <div class="mainSlide_news" id="news2">
                <a href="">
                  <h3>KB저축은행, 업계 최고 수준의 연 5% ‘KB꿀적금’ 특판실시</h3>
                  <h3>2022.06.02</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- 두번째 섹션(진하경) -->
    <section class="swiper-slide solution">
      asdf
    </section>
    <!-- 세번째 섹션(정지헌) -->
    <section class="swiper-slide kbinfo">
      asdf
    </section>
    <!-- 네번째 섹션(정다은) -->
    <section class="swiper-slide mainNotice">
      <h1>테스트 테스트</h1>
    </section>
  </div>
  <div class="swiper-pagination"></div>
</div>
