<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <!-- 첫번째 섹션(정지헌) -->
    <section class="swiper-slide swiper mySwiper1 mainSlide">
      <div class="swiper-wrapper mainSlide_wrap">
        <!-- 첫번째슬라이드 -->
        <div class="swiper-slide mainSlide_inner1">

        </div>
        <!-- 두번째슬라이드 -->
        <div class="swiper-slide mainSlide_inner2">
          
        </div>
      </div>
      <div class="swiper-pagination1"></div>
    </section>
    <!-- 두번째 섹션(진하경) -->
    <section class="swiper-slide solution">
      asdf
    </section>
    <!-- 세번째 섹션(정지헌) -->
    <section class="swiper-slide kbinfo">
      asdf
    </section>
    <!-- 네번째 섹션(정다은) -->
    <section class="swiper-slide mainNotice">
      <h1>테스트 테스트</h1>
    </section>
  </div>
  <div class="swiper-pagination"></div>
</div>