<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <section class="swiper-slide mainSlide">
      <div class="mainSlide_inner"></div>
    </section>
    <section class="swiper-slide solution">
      asdf
    </section>
    <section class="swiper-slide kbinfo">
      asdf
    </section>
    <section class="swiper-slide mainNotice">
      <h1>테스트 테스트</h1>
    </section>
  </div>
  <div class="swiper-pagination"></div>
</div>