
    <div class="titleArea">
      <div class="w1200">
          <ul class="pageUtil">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
          </ul>
          <h2 class="f_bold">공지작성</h2>
          <form action="" method="">
            <table class="write">
              <tr class="write_cell">
                <td class="write_title"><span>*</span>카테고리</td>
                <td class="write_select"><input type="text" name="" id=""></td>
              </tr>
              <tr class="write_cell">
                <td class="write_title"><span>*</span>카테고리</td>
                <td class="write_select"><input type="text" name="" id=""></td>
              </tr>
              <tr class="write_cell">
                <td class="write_title"><span>*</span>카테고리</td>
                <td class="write_select"><input type="text" name="" id=""></td>
              </tr>
              <tr class="write_cell">
                <td class="write_title"><span>*</span>카테고리</td>
                <td class="write_select"><input type="text" name="" id=""></td>
              </tr>
            </table>
          </form>
    </div>
  </div>
