
    <div class="titleArea">
      <div class="w1200">
          <ul class="pageUtil">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
          </ul>
          <h2 class="f_bold">공지작성</h2>
          <form action="" method="post" onsubmit="return notice_ck();">
            <table class="write">
              <tr class="write_cell">
                <td class="write_title"><span>*</span>카테고리</td>
                <td class="write_select">
                  <input class="write_radio" type='radio' name='radio' value='guide' checked/>안내
                  <input class="write_radio" type='radio' name='radio' value='newproduct'/>신상품
                  <input class="write_radio" type='radio' name='radio' value='bid'/>입찰공고
                  <input class="write_radio" type='radio' name='radio' value='clause'/>약관개정
                  <input class="write_radio" type='radio' name='radio' value='hire'/>채용
                </td>
              </tr>
              <tr class="write_cell">
                <td class="write_title"><span>*</span>작성자</td>
                <td class="write_select"><input type="text" name="write" id="write_writer" maxlength="30"></td>
              </tr>
              <tr class="write_cell">
                <td class="write_title"><span>*</span>제목</td>
                <td class="write_select"><input type="text" name="" id="write_title"></td>
              </tr>
              <tr class="write_cell">
                <td class="write_title"><span>*</span>업로드 일자</td>
                <td class="write_select">
                  <input class="write_radio" type='radio' name='upload_radio' value='upload_now' checked/>즉시 업로드
                  <input class="write_radio" type='radio' name='upload_radio' value='upload_reserv'/>예약업로드
                  <input type="date" id="upload_date" max="" min="" value=""disabled>
                </td>
              </tr>
              <tr class="write_cell write_cont">
                <td class="write_title write_cont_td"><span>*</span>내용</td>
                <td class="write_select write_cont_td"><textarea name="" id="write_cont" cols="30" rows="10"></textarea></td>
              </tr>
            </table>
            <div class="write_btn_wrap">
              <button class="write_btn f_bold write_cancle">취소</button>
              <input class="write_btn f_bold" type="submit" name="upload" id="" value="등록">
            </div>
          </form>
    </div>
  </div>
