<div class="product_title_wrap">
  <div class="titleArea">
        <div class="w1200">
            <ul class="pageUtil">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <h4 class="product_tag f_gray2 f_regular">#온라인전용 #개인 #예금자보호 #확정금리 </h4>
            <h2 class="product_title f_bold">KB e-plus정기예금</h2>
            <p class="f_gray2">일정기간 여유자금을 예금하시면 확정 금리로 높은 수익을 드리는 온라인 가입 전용상품입니다.</p>
            <ul class="product_cond">
              <li class="product_squar"></li>
              <li class="product_squar"></li>
              <li class="product_squar"></li>
            </ul>
      </div>
    </div>
</div>