<section class="main_solution w1200">
  <h2 class="main_title">KB저축은행 솔루션 </h2>
  <div class="solution_wrap">
    <span class="solution_shopping"></span>
    <span class="solution_kiwibank"></span>
    <span class="solution_retire"></span>
    <span class="solution_event"></span>
    <span class="solution_quick"></span>
  </div>
</section>