<section class="main_solution w1200">
  <h2 class="main_title">KB저축은행 솔루션 </h2>
  <div class="solution_wrap">
    <span id="red"></span>
    <span id="orange"></span>
    <span id="purple"></span>
    <span id="navy"></span>
    <span id="blue"></span>
  </div>
</section>