<section class="main_solution w1200">
  <h2 class="main_title">KB저축은행 솔루션 </h2>
  <div class="solution_wrap">
    <span class="solution_shopping">
      <div class="solution_grayBg solution_strong">
        <span></span>
        <h3>
        KB저축은행에서 편리하게<br>
        금융을 온라인 쇼핑처럼</h3></div>
    </span>
    <span class="solution_kiwibank">
      <div class="solution_grayBg">
        내 손안의 간편한 금융 <br>
        키워주고 위해주는 키위 뱅크</div>
    </span>
    <span class="solution_retire">
      <div class="solution_grayBg">
        퇴직 후에도 든든하게<br>
        퇴직연금 정기예금</div>
    </span>
    <span class="solution_event">
    </span>
    <span class="solution_quick">
      <div>  
        <div class="solution_quick_barWrap">
          <span>
            <span class="solution_quick_img solution_recom"></span>
            <div class="p f_gray1 f_medium">추천 상품</div>
          </span>
        </div> 
      </div>
      <div>
        <div class="solution_quick_barWrap">
          <span>
            <span class="solution_quick_img solution_advice"></span>
            <div class="p f_gray1 f_medium">상담하기</div>
          </span>
       </div>
      </div>
      <div>
        <span>
          <span class="solution_quick_img solution_loan"></span>
          <div class="p f_gray1 f_medium">신용 대출</div>
        </span>
      </div>
  </div>
</section>