.swiper {
  height: calc(100vh - 95px);
}

.swiper.mySwiper{
  padding-top: 95px;
}

.swiper-pagination{
  width: 0;
  left: 30px;
}


/*** 정지헌 ***/
/* 슬라이드 */
.mainSlide{
  position: relative;
}

.mainSlide_wrap .mainSlide_inner{
  width: 100%;
  height: calc(100vh - 95px - 155px);
  background-repeat: no-repeat;
  background-size: cover;

}


#mainSlide_inner1{
  background-image: url(../img/1.mainSlide/background1.jpg);
}

#mainSlide_inner2{
  background-image: url(../img/1.mainSlide/background2.jpg);
}

#mainSlide_inner3{
  background-image: url(../img/1.mainSlide/background3.jpg);
}


.mainSlide_conWrap{
  width: 100%;
  height: calc(100vh - 95px - 155px);
  /* display: flex;
  align-items: center; */
  position: relative;
}

.mainSlide_title{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.mainSlide_title1, .mainSlide_title2{
  color: #fff;
}

.mainSlide_title>h2{
  font-size: 50px;
}

.mainSlide_title>h3{
  font-size: 30px;
}


.mainSlide_title span{
  color: #FFCF00;
}

.mainSlide_title>p{
  font-size: 20px;
}

.mainSlide_directMenu{
  width: 285px;
  height: 441px;
  /* background-color: #755F48; */
  background-color: rgba(117, 95, 72, 0.8);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px 10px 0 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mainSlide_directMenu>.topBtn{
  width: 100%;
  height: 84px;
  background-color: #FFCF00;
  border-radius: 10px 10px 0 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.mainSlide_directMenu .Btn_inner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mainSlide_directMenu .Btn_inner>li{
  width: 50%;
  text-align: center;
}

.mainSlide_directMenu .Btn_inner>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all .2s;
}

.mainSlide_directMenu .Btn_inner>li>a:hover{
  color: #000;
}

.mainSlide_directMenu .Btn_inner .loginBtn{
  padding-left: 35px;
  margin-right: 10px;
  background-image: url(../img/1.mainSlide/log_in\ 1.png);
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
  /* background-size: 16px 16px; */
  
}

.mainSlide_directMenu .Btn_inner .loginBtn:hover{
  background-image: url(../img/1.mainSlide/log_in\ _hover.png);
}

.mainSlide_directMenu .topBtn .Btn_inner>li::after{
  display: block;
  content: '';
  width: 1px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 20%; right: 50%;
}

.mainSlide_directMenu .bottomBtn .Btn_inner>li>a{
  display: block;
  font-size: 12px;
  padding-top: 80px;
  margin-top: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.mainSlide_directMenu .bottomBtn .Btn_inner>li>.calculator{
  background-image: url(../img/1.mainSlide/keys.png);
}

.mainSlide_directMenu .bottomBtn .Btn_inner>li>.accountCheck{
  background-image: url(../img/1.mainSlide/account_w.png);
}

.mainSlide_directMenu .bottomBtn .Btn_inner>li>.transfer{
  background-image: url(../img/1.mainSlide/transfer.png);
}

.mainSlide_directMenu .bottomBtn .Btn_inner>li>.newDeposit{
  background-image: url(../img/1.mainSlide/upload_w.png);
}

.mainSlide_directMenu .bottomBtn .Btn_inner>li>.registration{
  background-image: url(../img/1.mainSlide/document_w.png);
}

.mainSlide_directMenu .bottomBtn .Btn_inner>li>.quickInquiry{
  background-image: url(../img/1.mainSlide/search_w.png);
}

.mainSlide_newsWrap{
  width: 100%;
  height: 155px;
  background-color: #FFCF00;
}

.mainSlide_productWrap{
  width: 100%;
  height: 155px;
  background-color: #FFCF00;
}

.mainSlide_news_con{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainSlide_news_con>h3{
  position: relative;
  padding-bottom: 20px;
}

.mainSlide_news_con>h3::after{
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../img/1.mainSlide/next.png);
  position: absolute;
  top: 6px;
  left: 130px;
  cursor: pointer;
}

.mainSlide_product_con{
  height: 100%;
}

.mainSlide_news>a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  transition: all .2s;
}

.mainSlide_news>a:hover{
  text-decoration: underline;
  color: #fff;
}

.mainSlide_productInner{
  height: 100%;
  display: flex;
  align-items: center;
}

.mainSlide_productInner>li{
  flex: 1;
  position: relative;
}

.mainSlide_productInner>li::after{
  display: block;
  content: '';
  width: 1px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.mainSlide_productInner>li:last-child:after{
  display: none;
}

.mainSlide_productInner>li>a{
  color: #000;
  text-decoration: none;
  text-align: center;
}

.mainSlide_productInner>li>a>h4{
  color: #fff;
  font-size: 20px;
}

.mainSlide_productInner>li>a>p{
  font-size: 12px;
}

.mainSlide_productInner strong{
  font-size: 20px;
  color: #000;
}

.product_title{
  margin-right: 10px;
}

.loanLimit>span, .loanRate>span{
  font-size: 12px;
  color: #7F7F7F;
}

.swiper>.swiper-wrapper>.mainSlide .swiper-pagination1{
  position: absolute;
  left: 0; top: 25%;
  width: auto;
  height: 0;
  z-index: 999;
  color: #000;
  font-size: 16px;
}

.swiper>.swiper-wrapper>.mainSlide #mainSlide_inner1 .swiper-pagination1{
  color: #fff;
}

.swiper>.swiper-wrapper>.mainSlide #mainSlide_inner2 .swiper-pagination1{
  color: #fff;
}

.swiper>.swiper-wrapper>.mainSlide .swiper-pagination1 .swiper-pagination-bullet{
  width: auto;
  height: auto;
  background-color: inherit;
}

.swiper>.swiper-wrapper>.mainSlide .swiper-pagination1 .swiper-pagination-bullet::after{
  display: inline;
  content: '/';
  color: #000;
  opacity: var(--swiper-pagination-bullet-opacity, initial);
  position: relative;
}

/* 슬라이드 */


/* kb info */

/* kb info */
/*** 정지헌 ***/

