.solution{
  background-color: #F5F3E9 ;
}
.main_solution{
  width: 100%;
}
.solution_wrap{
  display: grid;
  grid-template-columns: 50% 50%;
	grid-template-rows: 250px 250px  170px;
  gap: 20px;
}
.solution_shopping{
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../img/2.solution/solution_shopping.jpg);
}
.solution_kiwibank{
  background-color: orange;
}
.solution_retire{
  background-color: purple;
}
.solution_event{
  background-color: navy;
}
.solution_quick{
  background-color: blue;
}