.w1200{
  max-width: 1200px;
  margin: 0 auto;
}

.main_title{
  padding-top: 110px;
  padding-bottom: 50px;
  text-align: center;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}

p{
  font-size: 16px;
}

.f_bold{
  font-weight: bold;
}

.f_medium{
  font-weight: 500;
}

.f_regular{
  font-weight: 400;
}

.f_gray1{
  color: #333;
}

.f_gray2{
  color: #7f7f7f;
}

.f_gray3{
  color: #ddd;
}

input{
  padding-left: 20px;
}


/*** 1200px ***/
@media(max-width: 1200px){
  .w1200{
    width: 100%;
    margin: 0 15px;
  }
}
/*** 1200px ***/

/*** 800px ***/
@media(max-width: 800px){
  .main_title{
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
/*** 800px ***/